body {
	margin: 0;
	font-size: 13px;
	font-family: sans-serif;
}

ul {
	display: flex;
	position: absolute;
	right: 0;
	margin: 0 20px;
	align-items: center;
	justify-content: center;
}

li {
	margin: 0 10px;
	display: inline;
	list-style-type: none;
}

a:link, a:visited {
	text-decoration: none;
	color: grey;
}

a:hover {
	text-decoration: underline;
	color:black;
}

.navbar {
	margin: 15px 0 30px 0;
	/*position: relative;*/
	height: 10px;
}

.navbar #login {
    background-color: #4484F0;
    color: #fff;
    margin-right: 30px;
    font-weight: bold;
    padding-left: 13px;
    padding-right: 13px;
    opacity: 1;
}

.navbar #login:active {
    background-color: #3E76D5;
}

.navbar #login:hover {
    text-decoration: none;
    cursor: default;
}

#apps, #notifications {
	opacity: 0.5;
}

#apps:hover, #notifications:hover {
	opacity: 0.8;
}

.search {
	display: block;
	width: 800px;
	height: 300px;
	margin: 153px auto 0;
}

#logo {
	display:block;
	margin: 0 auto 30px;
}

#i_text {
	display:block;
	height: 45px;
	width: 588px;
	margin: 0 auto 30px;
	border: 0.5px solid #d9d9d9;
}

#i_text:hover {
	box-shadow: 0px 2px 8px #dddddd;
	outline: none;
}

#i_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="submit"]:first-child {
	margin-right: 12px;
}

input[type="submit"] {
	background-color: #f2f2f2;
	color:#8c8c8c;
	border: none;
	height: 33px;
	width: 125px;
	border-radius: 5%;
	font-weight: bold;
}

input[type="submit"]:hover {
	color:black;
	border:0.5px solid #d9d9d9;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	/*display: flex;*/
	justify-content: space-between;
	height: 40px;
	align-items: center;
	border-top: 0.5px solid #d9d9d9;
}
/*
.footer li {
	margin: 10px;
}

.left {
	margin-left: 20px;
}

.right {
	margin-right: 20px;
}
*/